[tool.poetry]
name = "rustbininfo"
version = "0.4.1"
description = "Get information about stripped rust executables"
authors = ["Nofix <16479266+N0fix@users.noreply.github.com>"]
readme = "README.md"
packages = [{include = "rustbininfo", from = "src"}]

[tool.poetry.dependencies]
python = "^3.10"
pytz = "^2024.1"
rich = "^13.7.1"
yara-python = "^4.5.0"


[tool.poetry.group.dev.dependencies]
black = "^24.2.0"
pytest = "^8.1.1"
flake8 = "^7.0.0"
mypy = "^1.9.0"
types-pytz = "^2024.1.0.20240203"
types-requests = "^2.31.0.20240311"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
rustbininfo = "rustbininfo.main:main_cli"
rbi = "rustbininfo.main:main_cli"
